html,
body,
.wrapper,
.content-wrap {
overflow: hidden;
width: 100%;
height: 100%;
    min-height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color:#123b4c;
    color: #888;
}

h2 {
	font-size: 18px;
    font-weight: 600;
    color: #202020;
    margin-top: 45px;
}

a:hover{
    text-decoration: none;
}

#pre-header {
	background-color: #1C1C1C;
	height: 30px;
}

#header {
	background-color: #fff;
	height: 70px;
}

#header img {
    margin-left: 30px;
}

#title {
    font-family: 'Anton', sans-serif;
    margin-right: 30px;
    color: #123b4c;
}

.menu-wrap {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.menu-top {
    height: 60px;
}

.menu-top img {
    padding: 10px;
    margin-right: 15px;
    height: 60px;
    width: 60px;
}

.menu-top span {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
}

.menu-side a {
    display: block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    border-top: 1px solid #103343;
    color: #fff;
    font-weight: bolder;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.menu-side a:last-child {
    border-bottom: 1px solid #103343;
}

.menu-side a:hover {
    text-decoration: none;
    color: #1c6984;
}

.menu-button {
	position: fixed;
	z-index: 1000;
	width: 30px;
	height: 30px;
	border: none;
	font-size: 5px;
	color: transparent;
	background: #000;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-button::before {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	bottom: 1.5em;
	left: 1.5em;
	background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
	content: '';
}

.menu-button:hover {
opacity: 0.6;
}

.content-wrap {
    overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
    min-height: 100%;
}

.content::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
}

.content {
    position: relative;
    min-height: 100%;
    background-image:url('../img/background2.jpg');
    background-size:cover;
}

section {
    padding: 15px 30px;


}

.show-menu .menu-wrap {
	opacity: 1;
}

.show-menu .content-wrap,
.show-menu .menu-button {
	-webkit-transform: translate3d(300px,60px,0);
	transform: translate3d(300px,60px,0);
}
.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.event {
    position: relative;
	height: 250px;
    margin: 15px 0;
    padding: 15px;
	background-color:white;
	-moz-transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	text-align:center;
	border: 1px solid rgba(0,0,0,0.4);
}

.event:hover{
	background-color:#e7e7e7;
}

.event:hover {
	cursor: pointer;
}

.event p {
    font-size: 12px;
}

.button{
	background-color:#123b4c;
	font-size: 1.2em;
	padding:10px;
	color:white;
	border-radius: 5px 15px;
	margin-bottom:20px;
}

a.button{
display:inline-block;
width: 110px;
text-align:center;
margin:0 5px;
}

.button_hover:hover{
background-color:#333;
-moz-transition: 0.5s ease-out;
-webkit-transition: 0.5s ease-out;
-o-transition: 0.5s ease-out;
transition: 0.5s ease-out;
text-decoration:none;
color:#fff;
cursor:pointer;
}

#submenu{
	width:244px;
	margin-top: 25px;
}

#submenu a {
    display: block;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #103343;
    color: #fff;
    font-weight: bolder;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#submenu a:first-child {
    border-top: none;
}

#submenu a:hover {
    text-decoration: none;
    color: #1c6984;
}

.event .badge {
    position: absolute;
    right: -5px;
    top: -5px;
}
.addevent {
    padding-top: 45px;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    background: #fff url(../img/iconeplus.png) no-repeat center center;
    font-family: 'Open sans', sans-serif;
    color: #202020;
}

.event h2{
    text-transform:uppercase;
	margin-bottom:50px;
}
@media screen and (max-width: 393px) {
    #header {
       height: 140px;
    }
}

/*Formulaire*/

.moncontenaire{
    width:600px;
    margin: 0 auto;
    background-color:#fff;
}

.subcontenaire{
    width:95%;
    margin:0 auto;
}

input, textarea,select{
    background-color:#fbfbfb;
    border: 1px solid #ddd;
}

select {
    /* width: 25%; */
    /* display: inline-block; */
    /* width: 250px; */
}
input[type=text], input[type=email], textarea,select{
    font-size: 24px;
    /* width: 100%; */
    padding: 3px;
    margin: 2px 6px 16px 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

input[type=text] {
    width: 100%;
}


label{
    text-transform:capitalize;
    display:block;
    color:#777;
    font-size:14px;
}

